body{
    background: #e6e6e6;
}
#header{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,1);
    position: fixed;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
}
.header_container{
    max-width: 1140px;
    width: 100%;
    background: rgba(235,235,235,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_link{
    font-family: 'Poppins';
    font-size: 24px;
}
.navigation{
    font-family: 'Comfortaa';
}
.navigation>li>a{
    margin: 0 0 0 30px;
    color: #333;
}
.navigation>li>a:hover{
    color: #50c3dc;
}
.side_menu_link{
    display: none;
}
#side_menu{
    display: none;
}

@media screen and (max-width: 720px){

    #side_menu{
        width: calc(100% - 100px);
        height: 100%;
        background: #28a745;
        position: fixed;
        right: 100%;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0;
        z-index: 100;
        overflow: hidden;
        display: flex;
    }

    body{
        background: #fff;
    }
    #header{
        min-height: 100px;
    }
    .header_container{
        padding: 0 0 0 20px;
    }
    .logo_link{
        font-size: 44px;
    }
    .navigation{
        display: none;
    }
    .side_menu_link{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        flex-direction: column;
        height: 100px;
        min-width: 100px;
        background: #88b3ff;
    }
    .menu_link_line{
        background: #000000;
        width: 60%;
        height: 5%;
        margin: 10px 0;
        transition: .5s;
    }
    .menu_link_rotated_st{
        transform: translateY(12.5px) rotate(45deg);
    }
    .menu_link_rotated_nd{
        transform: translateY(-12.5px) rotate(-45deg);
    }
}



































