.all_page_width_border{
    width: 100%;
    border: 0;
    height: 1px;
    background: #0000001a;
    margin: 0;
}
#header{
    min-height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    position: fixed;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
    z-index: 100;
}
.header_container{
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_link{
    font-family: 'Poppins';
    font-size: 24px;
}
.logo_link:hover{
    color: #50c3dc;
}
.navigation{
    font-family: 'Comfortaa';
}
.navigation>li>a{
    margin: 0 0 0 30px;
    color: #333;
}
.navigation>li>a:hover{
    color: #50c3dc;
}
.side_menu_link{
    display: none;
}
#side_menu{
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 90;
    transition: .2s ease-in-out;
    right: 100%;
    background: #fff;
    font-family: Comfortaa;
}
#content{
    padding: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information_container{
    max-width: 1140px;
    width: 100%;
    min-height: 430px;
    height: 100%;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
}
.information_main_pic{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 430px;
    max-width: 350px;
    width: 100%;
}
.main_pic{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("../imgs/main_pic.png");
    background-size: cover;
}
.information_main_text{
    max-width: 790px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.main_headline{
    font-family: "Comfortaa";
    font-weight: 100;
    margin: 0 0 20px 0;
}
.main_hr{
    height: 6px;
    width: 150px;
    align-self: flex-start;
    border: 0;
    background: #50c3dc;
    border-radius: 2px;
    margin: 0 0 20px 0;
}
.main_text{
    font-family: "Comfortaa";
    margin: 0 0 40px 0;
}
.social_links_nav{
    font-size: 20px;
}
.social_link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 0;
    width: 28px;
    height: 28px;
    color: #333;
}
.vk_link:hover{
    color: #3c5c82;
}
.inst_link:hover {
    color: #915646;
}
.nvlp_link:hover{
    color: #334d92;
}
.tlgrm_link:hover{
    color: #2ca5e0;
}
.photos_container{
    background: #fcfcfc;
    min-height: 470px;
    width: 100%;
    max-width: 1140px;
}
.photos_headline{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.photos_headline>h2{
    font-weight: 100;
    font-family: "Comfortaa";
}
.first_photos_row{
    display: flex;
    justify-content: space-between;
}
.photo_link{
    min-width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    cursor: default;
}
.photo_link:hover>.about_photo_link{
    opacity: 1;
    transition: .2s ease-in-out;
}
.photo_link:hover>.photo_card_headline{
    color: #fff;
    opacity: 0;
    transition: .2s ease-in-out;
}
.photo_link::before{
    content: "";
    width: 270px;
    height: 270px;
    position: absolute;
}
.photo_card_headline{
    color: #fff;
    opacity: 1;
    transition: .2s ease-in-out;
    font-family: "Comfortaa";
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 20px;
}
.about_photo_link{
    font-family: "Comfortaa";
    opacity: 0;
    transition: .2s ease-in-out;
    margin: 0;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    min-width: 270px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: center;
}
.about_photo_link>h1{
    font-weight: 100;
    font-size: 24px;
    margin: 0 0 20px 0;
}
.about_photo_link>p{
    font-weight: 100;
    font-size: 18px;
    margin: 0 0 30px 0;
}
.more_photo_info{
    margin: 0 0 54px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 162px;
    min-height: 42px;
    background: #50c3dc;
    font-size: 20px;
    color: #fff;
    transition: .2s ease-in-out;
}
.more_photo_info:hover{
    background: #2ca5e0;
    transition: .2s ease-in-out;
}

.first_photo_link{
    background: url("../imgs/nature-example.png");
    background-size: cover;
}
.second_photo_link{
    background: url("../imgs/portrait-example.png");
    background-size: cover;
}
.third_photo_link{
    background: url("../imgs/archit-example.png");
    background-size: cover;
}
.forth_photo_link{
    background: url("../imgs/dynamics-example.png");
    background-size: cover;
}
.other_information_container{
    width: 100%;
    max-width: 1140px;
    min-height: 400px;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Comfortaa;
}
.about_me{
    width: 100%;
    max-width: 570px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.about_me_headline{
    font-weight: 100;
    font-size: 22px;
}
.about_me_hr{
    border: 0;
    height: 4px;
    width: 40px;
    border-radius: 1px;
    background: #50c3dc;
    align-self: flex-start;
    margin: 20px 0 0 0;
}
.main_name{
    margin: 20px 0 0 0;
    font-size: 20px;
}
.main_info{
    margin: 15px 0 0 0;
    font-size: 16px;
    line-height: 22px;
}
.tel_and_mail{
    font-size: 14px;
    line-height: 20px;
    margin: 30px 0 0 0;
}
.price_calculator{
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price_calculator>h5{
    text-align: center;
    font-weight: 100;
}
#footer{
    width: 100%;
    min-height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
}
.footer_container{
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Comfortaa;
}
.author{
    font-size: 12px;
    width: 400px;
}
.author_link:hover{
    text-decoration: underline;
    color: #50c3dc;
}
.site_year{
    font-size: 14px;
}
.disclaimer{
    font-size: 12px;
    text-align: right;
    width: 400px;
}



@media screen and (min-width: 720px) and (max-width: 1079px) and (orientation: portrait){

    #header{
        min-height: 100px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);

    }
    .header_container{
        padding: 0 0 0 20px;
    }
    .logo_link{
        font-size: 44px;
    }
    .navigation{
        display: none;
    }
    .side_menu_link{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        min-width: 100px;
        background: #f7f7f7;
    }
    .menu_link_line{
        background: #000000;
        width: 60%;
        height: 5%;
        margin: 10px 0;
        transition: .2s ease-in-out;
    }
    .menu_link_rotated_st{
        transform: translateY(12.5px) rotate(45deg);
    }
    .menu_link_rotated_nd{
        transform: translateY(-12.5px) rotate(-45deg);
    }
    #content{
        padding: 100px 0 0 0;
    }
    .information_container{
        min-height: 830px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .information_main_pic{
        min-height: 450px;
        min-width: 100%;
    }
    .main_pic{
        min-width: 350px;
        min-height: 350px;
    }
    .information_main_text{
        min-width: 100%;
        align-items: center;
    }
    .main_headline{
        margin: 0 0 40px 0;
        font-size: 44px;
        text-align: center;
        max-width: 600px;
    }
    .main_hr{
        height: 10px;
        align-self: center;
        border: 0;
        border-radius: 4px;
        margin: 0 0 40px 0;
    }
    .main_text{
        font-size: 28px;
        text-align: center;
        max-width: 600px;
    }
    .social_links_nav{
        font-size: 40px;
    }
    .social_link{
        margin: 0 12px 0 12px;
        width: 46px;
        height: 46px;
    }
    .photos_container{
        min-height: 470px;
        width: 100%;
    }
    .photos_headline{
        min-height: 120px;
    }
    .photos_headline>h2{
        font-size: 34px;
    }
    .first_photos_row{
        flex-direction: column;
    }
    .photo_link{
        margin: 0 0 2px 0;
        height: 540px;
    }
    .photo_link::before{
        width: 100%;
        height: 540px;
    }
    .photo_card_headline{
        opacity: 0;
    }
    .about_photo_link{
        opacity: 1;
        background: rgba(0, 0, 0, .2);
        min-height: 540px;
        width: 100%;
        justify-content: flex-end;
    }
    .about_photo_link>h1{
        font-size: 44px;
        margin: 0 0 40px 0;
    }
    .about_photo_link>p{
        font-size: 32px;
        margin: 0 0 70px 0;
    }
    .more_photo_info{
        margin: 0 0 54px 0;
        min-width: 300px;
        min-height: 90px;
        background: #50c3dc;
        font-size: 30px;
    }
    .other_information_container{
        flex-direction: column;
    }
    .about_me{
        max-width: 100%;
    }
    .about_me_headline{
        font-size: 36px;
        margin: 40px 0 0 20px;
    }
    .about_me_hr{
        height: 6px;
        width: 60px;
        border-radius: 2px;
        margin: 30px 0 0 20px;
    }
    .main_name{
        margin: 30px 0 0 20px;
        font-size: 30px;
    }
    .main_info{
        margin: 30px 0 0 20px;
        font-size: 22px;
        line-height: 36px;
        width: 93%;
    }
    .tel_and_mail{
        font-size: 16px;
        line-height: 28px;
        margin: 40px 0 40px 20px;
    }
    .price_calculator{
        display: none;
    }
    #footer{
        min-height: 100px;
    }
    .footer_container{
        flex-direction: column;
    }
    .author{
        display: none;
    }
    .site_year{
        font-size: 20px;
        margin: 20px 0 0 0;
    }
    .disclaimer{
        font-size: 14px;
        text-align: center;
        margin: 0 0 20px 0;
    }
    #side_menu {
        width: calc(100% - 100px);
        display: flex;
        flex-direction: column;
        margin: 100px 0 0 0;
        justify-content: space-between;
        height: calc(100% - 100px);
    }
    .side_menu_content{
        height: 100%;
        border-bottom: 1px solid #0000001a;
    }
    .side_menu_navigation{
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }
    .side_menu_navigation>li{
        display: flex;
        align-items: center;
        padding: 0 0 0 20px;
        height: 100px;
    }
    .side_menu_content_link{
        border-top: 1px solid #0000001a;
    }
    .side_menu_headline{
        font-size: 32px;
        font-weight: 600;
    }
    .side_menu_navigation>li>a:hover{
        color: #50c3dc;
        text-decoration: underline;
    }
    .side_menu_footer{
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .side_menu_footer_info{
        font-weight: 100;
        font-size: 26px;
        margin: 0 0 0 20px;
    }
    .side_menu_footer_social_links{
    }
    .footer_social_link{
        font-size: 28px;
        margin: 0 30px 0 0;
    }
}

@media screen and (min-width: 1080px) and (orientation: portrait){

    #header{
        min-height: 150px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    }
    .header_container{
        padding: 0 0 0 30px;
        max-width: 100%;
    }
    .logo_link{
        font-size: 66px;
    }
    .navigation{
        display: none;
    }
    .side_menu_link{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 150px;
        min-width: 150px;
        background: #f7f7f7;
    }
    .menu_link_line{
        background: #000000;
        width: 60%;
        height: 5%;
        margin: 15px 0;
        transition: .2s ease-in-out;
    }
    .menu_link_rotated_st{
        transform: translateY(18.75px) rotate(45deg);
    }
    .menu_link_rotated_nd{
        transform: translateY(-17.75px) rotate(-45deg);
    }
    #content{
        padding: 150px 0 0 0;
    }
    .information_container{
        min-height: 1245px;
        justify-content: flex-start;
        flex-direction: column;
    }
    .information_main_pic{
        min-height: 675px;
        min-width: 100%;
    }
    .main_pic{
        min-width: 525px;
        min-height: 525px;
    }
    .information_main_text{
        min-width: 100%;
        align-items: center;
    }
    .main_headline{
        margin: 0 0 60px 0;
        font-size: 66px;
        text-align: center;
        max-width: 900px;
    }
    .main_hr{
        height: 15px;
        width: 225px;
        align-self: center;
        border-radius: 6px;
        margin: 0 0 60px 0;
    }
    .main_text{
        margin: 0 0 60px 0;
        font-size: 42px;
        text-align: center;
        max-width: 900px;
    }
    .social_links_nav{
        font-size: 60px;
    }
    .social_link{
        margin: 0 18px 0 18px;
        width: 69px;
        height: 69px;
    }
    .photos_container{
        background: #fefefe;
        min-height: 705px;
        width: 100%;
    }
    .photos_headline{
        min-height: 180px;
    }
    .photos_headline>h2{
        font-size: 51px;
    }
    .first_photos_row{
        flex-direction: column;
    }
    .photo_link{
        margin: 0 0 4px 0;
        height: 810px;
    }
    .photo_link::before{
        width: 100%;
        height: 810px;
    }
    .photo_card_headline{
        opacity: 0;
    }
    .about_photo_link{
        opacity: 1;
        background: rgba(0, 0, 0, .2);
        min-height: 810px;
        width: 100%;
        justify-content: flex-end;
    }
    .about_photo_link>h1{
        font-size: 66px;
        margin: 0 0 60px 0;
    }
    .about_photo_link>p{
        font-size: 48px;
        margin: 0 0 105px 0;
    }
    .more_photo_info{
        margin: 0 0 81px 0;
        min-width: 450px;
        min-height: 135px;
        font-size: 45px;
    }
    .other_information_container{
        flex-direction: column;
    }
    .about_me{
        max-width: 100%;
    }
    .about_me_headline{
        font-size: 54px;
        margin: 60px 0 0 30px;
    }
    .about_me_hr{
        height: 9px;
        width: 90px;
        border-radius: 3px;
        margin: 45px 0 0 30px;
    }
    .main_name{
        margin: 45px 0 0 30px;
        font-size: 45px;
    }
    .main_info{
        margin: 45px 0 0 30px;
        font-size: 33px;
        line-height: 54px;
        width: 93%;
    }
    .tel_and_mail{
        font-size: 24px;
        line-height: 42px;
        margin: 60px 0 60px 30px;
    }
    .price_calculator{
        display: none;
    }
    #footer{
        min-height: 150px;
    }
    .footer_container{
        flex-direction: column;
    }
    .author{
        display: none;
    }
    .site_year{
        font-size: 30px;
        margin: 30px 0 0 0;
    }
    .disclaimer{
        font-size: 21px;
        text-align: center;
        width: 100%;
        margin: 0 0 30px 0;
    }
    #side_menu {
        width: calc(100% - 150px);
        display: flex;
        flex-direction: column;
        margin: 150px 0 0 0;
        justify-content: space-between;
        height: calc(100% - 150px);
    }
    .side_menu_content{
        height: 100%;
        border-bottom: 2px solid #0000001a;
    }
    .side_menu_navigation{
        display: flex;
        flex-direction: column;
        font-size: 45px;
    }
    .side_menu_navigation>li{
        display: flex;
        align-items: center;
        padding: 0 0 0 30px;
        min-height: 150px;
    }
    .side_menu_content_link{
        border-top: 2px solid #0000001a;
    }
    .side_menu_headline{
        font-size: 48px;
        font-weight: 600;
    }
    .side_menu_navigation>li>a:hover{
        color: #50c3dc;
        text-decoration: underline;
    }
    .side_menu_footer{
        width: 100%;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .side_menu_footer_info{
        font-weight: 100;
        font-size: 39px;
        margin: 0 0 0 30px;
    }
    .side_menu_footer_social_links{
    }
    .footer_social_link{
        font-size: 42px;
        margin: 0 45px 0 0;
    }
}
































