a{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: auto;*/
    width: 300px;
    height: 200px;
    background: url("https://img2.goodfon.ru/wallpaper/nbig/1/3c/zakat-solnce-nebo-pticy-more.jpg");
    text-decoration: none;
    background-size: cover;
}
a::before{
    content: "";
    width: 300px;
    height: 200px;
    background: #000;
    position: absolute;
    display: flex;
    opacity: .3;
    transition: .3s;
    z-index: 10;
}
a:hover::before{
    opacity: .7;
    transition: .3s;
}
h1{
    color: #fff;
    z-index: 20;
    opacity: 0;
    transition: .3s;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans";
}
a:hover>h1{
    opacity: 1;
    transition: .3s;
}