@import url('https://fonts.googleapis.com/css?family=Comfortaa|Poppins');
html{
    /*font-size: 10px;*/
}
body{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
::selection{
    background: #50c3dc;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
    padding: 0;
}